<div class="main coupons-index">
  <div class="container">
      <% @coupons.each do |coupon| %>
        <div class="coupons-index-item">
          <%= coupon %>
        </div>
      <% end %>
  </div>
</div>